---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <h1 class="post-title p-name" itemprop="name headline"><span>{{ post.title | escape }}</span></h1>
        </div>
        <div class="col-12 post-meta">
            <span class="p-author h-card" itemprop="author" itemscope itemtype="https://schema.org/Person">{{ post.author }}</span> op
            <time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%d %H:%M"}}" itemprop="datePublished"> {{ post.date | date: "%d-%m-%Y"}}</time>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 page-content post-content e-content" itemprop="articleBody">{{ post.content }}</div>
    </div>
</article>
{%- endfor -%}

<!-- Pagination links -->

<nav aria-label=" Page navigation">
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">vorige</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link">pagina {{ paginator.page }} van
                {{ paginator.total_pages }}</a>
        </li>
        {% if paginator.next_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">volgende</a></li>
        {% endif %}
    </ul>
</nav>