@import url("https://www.geensnor.nl/test/colors.css");

:root {
  //Primary tokens

  //Fonts
  --geensnor-font-family: "Work sans", sans-serif;
  --geensnor-font-family-headings: "Roboto Slab", serif;

  --geensnor-font-size-xl: 2.5em;
  --geensnor-font-size-l: 2em;
  --geensnor-font-size-m: 1.5em;
  --geensnor-font-size-s: 1.2em;
  --geensnor-font-size-xs: 1em;

  --geensnor-font-weight-normal: 400;
  --geensnor-font-weight-bold: 700;

  --geensnor-line-height: 1.7;

  //Colors
  --geensnor-oranje-100: hsl(16, 88%, 54%);
  --geensnor-blauw-100: rgb(68, 51, 255);
  --geensnor-zwartisch: rgb(26, 26, 26);
  --geensnor-grijs-100: grey;
  --geensnor-primary-color: var(--geensnor-oranje-100);

  //Semantic tokens
  --link-color: var(--geensnor-blauw-100);

  --geensnor-body-regular-font-family: var(--geensnor-font-family);
  --geensnor-body-regular-font-size: var(--geensnor-font-size-xs);
  --geensnor-body-regular-font-weight: var(--geensnor-font-weight-normal);
  --geensnor-body-regular-line-height: var(--geensnor-line-height);
  --geensnor-body-regular-color: var(--geensnor-font-color);

  --geensnor-box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

img {
  max-width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  height: auto;
}

h1 > a:hover {
  text-decoration: none;
}

h2 {
  font-size: var(--geensnor-font-size-l);
  color: var(--primary-color);
  font-family: var(--geensnor-font-family-headings);
  font-weight: var(--geensnor-font-weight-bold);
}

a {
  color: var(--link-color);
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: lightgray;
  text-decoration: underline;
}

a.dropdown-item {
  color: black;
}

.post-meta {
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.meer-berichten {
  margin-top: 100px;
}

.page-content,
.post-content,
p {
  font-family: var(--geensnor-body-regular-font-family);
  font-weight: var(--geensnor-body-regular-font-weight);
  font-size: var(--geensnor-body-regular-font-size);
  line-height: var(--geensnor-body-regular-line-height);
  color: var(--geensnor-body-regular-color);
}

.content-container {
  margin-top: 40px;
}

article {
  margin-top: 60px;
  margin-bottom: 160px;
}

blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #dfe2e5;
  color: gray;
  font-style: italic;
}

table,
th,
td {
  border: 1px solid #b2b2b2;
}

th {
  text-align: center;
}

td,
th {
  padding: 5px;
}

.line-top {
  border-top: 1px solid #b2b2b2;
  padding-top: 10px;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
