@import url("https://www.geensnor.nl/test/colors.css");

:root {
  //Primary tokens

  //Fonts
  --geensnor-font-family: "Work sans", sans-serif;
  --geensnor-font-family-headings: "Zilla Slab", serif;

  --geensnor-font-size-xxl: 2.5em;
  --geensnor-font-size-xl: 2em;
  --geensnor-font-size-l: 1.5em;
  --geensnor-font-size-m: 1.2em;
  --geensnor-font-size-s: 1em;
  --geensnor-font-size-xs: 0.8em;

  --geensnor-font-weight-normal: 400;
  --geensnor-font-weight-bold: 700;

  --geensnor-line-height: 1.7em;

  --geensnor-letter-spacing-small: -0.8px;

  //Kleuren
  --geensnor-oranje-100: hsl(16, 88%, 54%);
  --geensnor-blauw-100: rgb(68, 51, 255);
  --geensnor-zwartisch: rgb(26, 26, 26);
  --geensnor-grijs-100: grey;
  --geensnor-grijs-50: rgb(207, 207, 207);
  --geensnor-grijs-10: #f7f7f9;

  //Spacing
  --geensnor-spacing-m: 0.3rem;

  // Radius
  --geensnor-border-radius: 3px;

  //Semantic tokens

  h2 {
    font-size: var(--geensnor-font-size-xl);
    color: var(--primary-color);
    font-family: var(--geensnor-font-family-headings);
    font-weight: var(--geensnor-font-weight-bold);
    margin-bottom: var(--geensnor-spacing-m);
  }

  h3 {
    font-size: var(--geensnor-font-size-l);
    color: var(--primary-color);
    font-family: var(--geensnor-font-family-headings);
    font-weight: var(--geensnor-font-weight-bold);
    margin-bottom: var(--geensnor-spacing-m);
  }

  a {
    color: var(--geensnor-blauw-100);
    font-family: var(--geensnor-font-family);
  }

  p,
  ul,
  ol,
  table {
    font-family: var(--geensnor-font-family);
    font-weight: var(--geensnor-font-size-s);
    font-size: var(--geensnor-body-regular-font-size);
    line-height: var(--geensnor-line-height);
    color: var(--geensnor-font-color);
  }

  li {
    margin-bottom: var(--geensnor-spacing-m);
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid var(--geensnor-zwartisch);
    padding: var(--geensnor-spacing-m);
  }

  th {
    text-align: center;
  }

  blockquote {
    padding: 0 1em;
    border-left: 0.25em solid var(--geensnor-oranje-100);
    color: var(--geensnor-grijs-100);
    font-style: italic;
  }

  code:not(pre > code) {
    padding: 5px;
    color: var(--geensnor-oranje-100);
    background-color: var(--geensnor-grijs-10);
    border: 1px solid var(--geensnor-grijs-50);
    border-radius: var(--geensnor-border-radius);
    font-size: var(--geensnor-font-size-xs);
  }

  pre {
    display: block;
    padding: var(--geensnor-spacing-m);

    font-size: var(--geensnor-font-size-xs);
    line-height: var(--geensnor-line-height);
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: var(--geensnor-grijs-10);
    border: 1px solid var(--geensnor-grijs-50);
    border-radius: var(--geensnor-border-radius);
  }
}

.container {
  display: grid;

  min-height: 100vh;
}

.header {
  grid-row: 1;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;

}

//Hierboven naar tokens file
img {
  max-width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  height: auto;
}
