---
import Main from '../layouts/Main.astro';
import { getCollection, render } from 'astro:content';
import BlogPost from '../layouts/BlogPost.astro';
import CategorieEnBerichten from '../components/CategorieEnBerichten.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: any) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

const categories = Array.isArray(post.rendered.metadata.frontmatter.categories) 
  ? post.rendered.metadata.frontmatter.categories 
  : [post.rendered.metadata.frontmatter.categories];

const { Content } = await render(post);
---
<Main>

<BlogPost {post}>
  <Content />
</BlogPost>

      <p>Meer van dit soort berichten:</p>
      <div class="categories">
        {categories.map((categorie: string) => (
          <div>
            <CategorieEnBerichten categorie={categorie} maxBerichten="10"/>
          </div>
        ))}
      </div>

    
      </Main>

      <style>
    .categories {
    display: grid; /* or inline-flex */
    grid-columns: 2;
    grid-gap: 2rem;
    grid-template-columns: 50% 50%;

  }
  </style>

