---
import Main from "../layouts/Main.astro";
import CategorieEnBerichten from "../components/CategorieEnBerichten.astro";
import { getCollection } from "astro:content";
import Categorieen from "../components/Categorieen.astro";

const categorieen = [
  ...new Set(
    (await getCollection("blog"))
      .map((post: any) => {
        const categories = post.rendered.metadata.frontmatter.categories;
        if (Array.isArray(categories)) {
          return categories;
        } else {
          return [categories];
        }
      })
      .flat(),
  ),
];
---

<Main>
  <Categorieen />
  <div class="container">
    {
      categorieen.map((categorie: unknown) => (
        <CategorieEnBerichten categorie={categorie as string} />
      ))
    }
  </div>
</Main>
<style>
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 720px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
</style>
