---

import { getCollection } from "astro:content";
import BlogPost from "../layouts/BlogPost.astro";
import Main from "../layouts/Main.astro";

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf()
);

---
<Main>

      <section>
        <!-- <ul>
          {
            contentMastodon.items.map((toot: any) => (
              <li set:html={toot.content} />
            ))
          }
        </ul> -->
   
{
  posts.map((post: any) => (
    <BlogPost {post} />

   
  ))
}
        
      </section>
</Main>