---
import Main from "../layouts/Main.astro";
import { Kop } from "@geensnor/astro-componenten";
import Search from "astro-pagefind/components/Search";
---

<Main>
  <Kop Type="h1">Zoeken</Kop>
  <p>Zoek door al het moois van geensnor.nl.</p>
  <Search
    className="pagefind-ui"
    id="search"
    uiOptions={{ showImages: false }}
  />
</Main>
