---
import { getCollection } from "astro:content";
import { Kop, Lijstitem } from "@geensnor/astro-componenten";

const { categorie, maxBerichten } = Astro.props;

const posts = (await getCollection("blog"))
  .sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((post: any) => {
    const categories = post.rendered.metadata.frontmatter.categories;
    if (Array.isArray(categories)) {
      return categories.includes(categorie);
    } else {
      return categories === categorie;
    }
  });
---

<div>
  <Kop id={categorie} Type="h2">{categorie}</Kop>
  <ul>
    {
      posts.slice(0, maxBerichten).map((post: any) => (
        <Lijstitem>
          <a class="categorie-link" href={post.id}>
            {post.data.title}
          </a>
        </Lijstitem>
      ))
    }
  </ul>
</div>
<style>
  li {
    margin-bottom: 0.3rem;
  }
</style>
