---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  title?: string;
  start?: number;
  end?: number;
}

const { title, start, end } = Astro.props;

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const postsToShow = posts.slice(start, end);
---

{title && <h2>{title}</h2>}
<div>
  <ul>
    {
      postsToShow.map((post: any) => (
        <li>
          <a href={post.id}>
            <FormattedDate date={post.data.date} />: {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
