---
layout: default
---

<div class="row justify-content-md-center">
  <div class="col-12">
    <h1><span>{{ page.title | escape }}</span></h1>
  </div>
  <div class="col-12 post-meta">
    Door <span class="p-author h-card" itemprop="author" itemscope itemtype="https://schema.org/Person">{{ page.author
      }}</span> op {{ page.date | date: "%d-%m-%Y"}} in {% for category in page.categories %}
  <a class="category" href="/pages/alle_berichten.html#{{ category }}">
    {{ category }}
  </a>
{% endfor %}

  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-12 page-content">{{ content }}</div>
</div>

<div class="row justify-content-md-center meer-berichten">
  <div class="col-12">
    <h3>Meer van dit soort berichten:</h3>
    <ul>
      {% for category in page.categories limit: 1%}
      {% capture category %}{{ page.categories | first }}{% endcapture %}

      {% for post in site.categories[category] limit: 5 %}
      {% if page.title != post.title %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"> <time
              datetime="{{ post.date | date: " %Y-%m-%d %H:%M"}}" itemprop="datePublished">
              ({{ post.author }} {{ post.date | date: "%d-%m-%Y" }})</time></span></a></li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>

  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-12"><a href="/index.html">voorpagina</a></div>
</div>