---
import type { CollectionEntry } from "astro:content";
import { render } from 'astro:content';


import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { post } = Astro.props;
const { Content } = await render(post);

---


      <article>
        <div class="prose">
          <div class="title">
            <div class="date">
               <FormattedDate date={post.data.date} />
              {
                post.date && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={post.data.date} />
                  </div>
                )
              }
            </div>
            <h1>{post.data.title}</h1>
            
          </div>
          <Content/>
        </div>
      </article>

      <hr />
