---
import type { CollectionEntry } from "astro:content";
import { render } from 'astro:content';
import FormattedDate from "../components/FormattedDate.astro";
import Categories from "../components/Categories.astro";
import { Kop } from "@geensnor/astro-componenten";

const { post } = Astro.props;
const { Content } = await render(post);

---


      <article>
        <div class="prose">
          <div class="title">
           
            <Kop Type={"h1"}>{post.data.title}</Kop>
            <div class="post-meta">{post.data.author} op <FormattedDate date={post.data.date} />
              in <Categories categories={post.rendered.metadata.frontmatter.categories} />
             </div>
            <div class="date">
              
           </div>
            
          </div>
          <Content/>
        </div>
      </article>

      <hr />
